body {
    font-family: 'Aladin', cursive;
    background: #2E8B57;
    max-width: 1920px;
}

.container {
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    
}

h1 {
    text-align: center;
    padding: 1em;
    background: #CC8A14;
    text-transform: capitalize;
    font-size: 2em;
}

section {
    width: 35%;
    padding: 2em 2em 2em 2em;
    background: #CC8A14;
    color: #000000;
    line-height: 1.5em;
    text-align: center;
    font-size: 1.5rem;
    /* text-shadow: 1px 3px 2px rgba(0,0,0,0.3); */

}

aside {
    display: flex;
    flex-direction: row;
}

.number {
    padding: .5em 5em 5em .5em;
    background: #764198;
    font-size: 1.5em;
}

.overall {
    display: flex;
    flex-direction: column;
    padding: .5em 5em 5em .5em;
    background: #D7A03D;
    width: 10rem;
    font-size: 1.5em;
    
}
.message {
    font-size: 2rem;
}


.images {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

img {
    width: 100px;
    height: 100px;
    
}

a:active {
    background: #D7A03D;
    box-shadow: 0 0 0px #000;
}

.total {
    width: 20%;
    background: greenyellow;
    padding: .3em 4em 1em .3em;
    font-size: 1.5rem;
}

.score {
    width: 20%;
    background: greenyellow;
    padding: .3em 4em 5em .3em;
    font-size: 1.5rem;
}

audio {
    visibility: visible;
}

/* Utility classes */

.margin {
    margin: 1em;
}

.border {
    border: 1px solid black;
    margin: 1em;
    box-shadow: 0 0 2px #000;
    border-radius: 3px;

}

.inline-block {
    display: inline-block;
}